[Unit]
Description=Runs way-shell once sway session target is reached

[Service]
Type=Exec
ExecStart=/usr/local/bin/way-shell

[Install]
WantedBy=sway-session.target
