/*
/ Underlay
*/
.underlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.underlay:hover,
.underlay:active {
  background-color: rgba(0, 0, 0, 0.1);
}

/*
/ Message Tray
*/
#message-tray {
  padding: 6px;
  background-color: #353535;
  border-radius: 20px;
  border: 1px solid #424242;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: #f2f2f2;
}

#message-tray .calendar-area {
  padding: 15px;
  margin-bottom: 12em;
}

#message-tray #calendar-month-selector {
  padding: 0px;
  margin: 0px;
}

#message-tray #calendar-month-selector label {
  font-size: 15px;
  font-weight: bold;
  color: #f2f2f2;
}

#message-tray #calendar-month-selector button {
  background-color: inherit;
}

#message-tray #calendar-month-selector button:hover {
  background-color: rgba(242, 242, 242, 0.25);
}

#message-tray #calendar-today {
  background-color: #353535;
  padding-bottom: 15px;
  color: #b0b0b0b0;
  transition: 250ms;
}

#message-tray #calendar-today.calendar-today-dirty {
  color: #dddddd;
}

#message-tray #calendar-today.calendar-today-dirty:hover {
  color: #ffffff;
  background-color: rgba(242, 242, 242, 0.15);
}

#message-tray #calendar-today row label.title {
  font-size: 16px;
  font-weight: bold;
}

#message-tray #calendar-today row label.subtitle {
  font-size: 20px;
  font-weight: bold;
}

/*
 * Message Tray Calendar
 */

#message-tray calendar {
  background-color: #353535;
}

#message-tray calendar.view {
  background-color: #353535;
  color: #353535;
}

#message-tray calendar.view grid {
  background-color: #353535;
  color: #353535;
}

#message-tray calendar.view grid label.day-number,
label.day-name {
  color: #f2f2f2;
  padding: 0px;
  margin: 0px;
}

#message-tray calendar.view grid label.day-number:active {
  border-radius: 100%;
}

#message-tray calendar.view grid label.day-number:focus {
  border-radius: 100%;
  background-color: rgba(242, 242, 242, 0.05);
  outline-color: #3584e4;
}

#message-tray calendar.view grid label.day-number:focus:selected {
  border-radius: 100%;
  background-color: rgba(242, 242, 242, 0.15);
  outline-color: #3584e4;
}

#message-tray calendar.view grid label.day-number.today,
label.day-number.today:focus {
  border-radius: 100%;
  background-color: #3584e4;
}

#message-tray calendar.view grid label.day-number.today:focus:selected {
  background-color: #3584e4;
  outline-color: #ffffff;
}

#message-tray calendar.view grid label:selected {
  border-radius: 100%;
}

#message-tray calendar.view grid label.other-month {
  color: rgba(242, 242, 242, 0.25);
}

#message-tray separator {
  color: #f2f2f2;

}

/*
 * Message Tray Notifications
 */

#notifications-osd .notification-widget,
#notifications-list .notification-widget {
  border-radius: 10px;
  padding: 4px;
}

#notification-list .notifications-list-controls {
  font-weight: bold;
  font-size: 8px;
}

#notifications-osd {
  background-color: rgba(0, 0, 0, 0.0);
  color: #ffffff;
}

#notifications-osd .notification-widget-button,
#notifications-list .notification-widget-button {
  border-radius: 10px;
  background-color: #555555;
}

#notifications-osd .notification-widget-button-critical,
#notifications-list .notification-widget-button-critical {
  border-radius: 10px;
  background-color: #f66151;
}

#notifications-osd .notification-widget-icon,
#notifications-list .notification-widget-icon {
  border-radius: 10px;
  padding: 8px;
}

#notifications-osd .notification-widget label.summary,
#notifications-list .notification-widget label.summary {
  font-weight: bold;
}

#notifications-osd .notification-widget label.title,
#notifications-list .notification-widget label.title {
  font-size: 14px;
}

#notifications-list .notification-widget-dismiss-button {
  border-radius: 100%;
  padding: 4px;
  margin: 6px;
}

#notifications-list #notifications-list-controls {
  font-weight: bold;
  font-size: 14px;
}

#notifications-list #notifications-list-controls .notifications-list-clear {
  margin: 6px;
}


/*
/ Quick Settings
*/
#quick-settings {
  padding: 6px;
  background-color: #353535;
  border-radius: 20px;
  border: 1px solid #424242;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: #f2f2f2;
}

#quick-settings-header {
  padding: 4px;
}

#quick-settings #quick-settings-header .battery-button {
  border-radius: 15px;
  padding: 5px 10px;
}

#quick-settings #quick-settings-header image,
#quick-settings #quick-settings-header label {
  padding: 2px;
}

#power-menu {
  padding: 20px;
}

#power-menu separator {
  margin: 2px;
}

#power-menu #options-container {
  padding: 5px;
  border-radius: 20px;
  background: #404040;

  transition-duration: 250ms;
}

#power-menu #options-container button {
  background-color: inherit;
  font-weight: normal;
  font-size: 16px;
}

#power-menu #options-container button:hover {
  background-color: #9a9996;
}

#power-menu #options-container #options-title {
  padding: 4px;
}

#power-menu #options-container #options-title label,
#power-menu #options-container #options-title image {
  padding: 4px;
  font-weight: bold;
  font-size: 20px;
}

#power-menu #options-container #options-title #icon-container {
  margin: 4px;
  background-color: #555555;
  border-radius: 100px;
}

#power-menu #options-container #buttons-container {
  margin: 20px;
}

#quick-settings #audio-scales {
  padding: 10px;
}

#quick-settings #quick-settings-grid {
  margin: 20px;
}

/*
 * Quick Settings Grid
 */
#quick-settings #quick-settings-grid {
  margin: 4px;
}

#quick-settings .quick-settings-grid-button {
  padding: 2px;
  margin: 0px;
}

#quick-settings #quick-settings-grid button:hover {
  background-color: #62a0ea;
}

#quick-settings #quick-settings-grid button:active {
  background-color: #3584e4;
}

#quick-settings .quick-settings-grid-button-icon {
  padding: 4px;
  margin: 3px;
}

#quick-settings .quick-settings-grid-button-toggle {
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  background-color: #3584e4;
  padding: 2px;
}

#quick-settings .quick-settings-grid-button-reveal-hidden {
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #3584e4;
  border-left: 0px solid black;
  color: rgba(0, 0, 0, 0)
}

#quick-settings .quick-settings-grid-button-reveal-visible {
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #3584e4;
  border-left: 1px solid black;
  color: #ffffff
}

#quick-settings .quick-settings-grid-button-subtitle {
  font-weight: normal;
  font-size: 12px;
}

#quick-settings #quick-settings-grid .quick-settings-grid-button-transparent * {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

#quick-settings #quick-settings-grid .quick-settings-grid-button-transparent button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

/*
/ Panel
*/
#panel {
  background-color: #000000;
  font-weight: normal;
  transition-duration: 250ms;
}

#panel .panel-button label {
  margin: 4px;
}

#panel .panel-button {
  margin: 2px;
  transition-duration: 150ms;
  font-weight: bold;
  background-color: transparent;
  color: #f2f2f2;
  box-shadow: none;
  margin: 2px;
  padding: 2px;
  border-radius: 35px;
}

#panel .panel-button:hover {
  background-color: rgba(242, 242, 242, 0.25);
}

#panel .panel-button:active {
  background-color: rgba(242, 242, 242, 0.35);
}

#panel .panel-button-toggled {
  background-color: rgba(242, 242, 242, 0.25);
}

#panel image {
  margin-left: 6px;
  margin-right: 6px;
}

#panel #workspaces-bar {
  border-radius: 5px;
}

#panel scrollbar {
  opacity: 100;
  margin-bottom: -12px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 0px;
}

#panel #workspaces-bar-list {
  font-weight: normal;
  font-size: 12px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3), inset -1px -1px 3px rgba(255, 255, 255, 0.04);
}

#panel #workspaces-bar-list .panel-button {
  margin: 2px;
  border-radius: 5px;
}

#panel #workspaces-bar-list .panel-button-toggled {
  background: linear-gradient(to bottom, #4299e1, #2b6cb0);
  animation: pulse 1s ease-in;
}

#panel #workspaces-bar-list .panel-button-urgent {
  color: #f66151;
  animation: pulse 1s ease-in;
}

#panel .panel-clock-notif {
  color: #ffffff;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}